p {
  font-family: montserrat;
}

.Model {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

.Message {
  text-align: center;
}

.Message-span {
  text-decoration: underline;
}