p {
  margin-top: 0;
  margin-bottom:0;
}

.thumbnail {
  width: 100%;
  border-radius: 10px;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 25px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author, .video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96)
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  margin-top: 55px;
}

@media (max-width: 600px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 601px) and (max-width: 960px){
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 961px) and (max-width: 1339px){
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media (min-width: 1440px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}

.YTlink {
  text-decoration: none;
  color: inherit;
}

.channel-picture {
  display: grid;
  grid-template-rows: 36px 1fr;
}

.channel-picture-image {
  display: flex;
  align-items: center;
  position: relative;
  width: 36px;
}

.channel-picture-image .tooltip {
  opacity: 0;
  display: flex;
  flex-direction: row;
  border-color: rgb(218, 218, 218);
  border-style: solid;
  border-width: 1px;
  transition: 0.15s;
  pointer-events: none;
  border-radius: 6px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  border-color: rgb(218, 218, 218);
  top: 41px;
  position: absolute;
}

.channel-picture-image:hover .tooltip {
  opacity: 1;
}

.tooltip-picture {
  display: flex;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 5px;
}

.tooltip-text {
  font-family: Roboto, Arial;
  font-size: 13px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 15px;
}

.author {
  font-weight: bold;
  margin-bottom: 1px;
}

